# git
snippet __git_feat "新功能"
	"feat ${1}新功能"
endsnippet

snippet __git_fix "bug修复"
	"fix ${1}bug修复"
endsnippet

snippet __git_style "样式变动"
	"style ${1}样式变动"
endsnippet

snippet __git_refactor "重构"
	"refactor ${1}重构"
endsnippet

snippet __git_perf "性能优化"
	"perf ${1}性能优化"
endsnippet

snippet __git_test "增加测试"
	"test ${1}增加测试"
endsnippet

snippet __git_build "编译工具调整"
	"build ${1}编译工具调整"
endsnippet

snippet __git_revert "撤销commit"
	"revert 撤销${1} commit"
endsnippet
