snippet __more "more" b
<!--more-->
endsnippet

snippet __topline "博客文件头" b
---
title:  ${1: 前端开发神器Sublime Text基本配置}
date:   ${2: 2014-03-08 10:18}
description: ${3: Front-end development sublime configuration }
---
${4}
endsnippet
