snippet __vueint "vue模板"
<template>
</template>
<script>
export default {
    name: 'component_name',
    props:{},
    data() {
        return {};
    },
    created() {},
    mounted() {},
    filters(){},
    components:{},
    wathc:{},
    computed:{},
    methods:{}
};
</script>
<style lang="css" scoped>
</style>
endsnippet


