snippet tern ".tern-project"
.tern-project
{
    "libs": [
        "browser",
        "underscore",
        "ecma6"
    ],
    "plugins": {
        "requirejs": {
            "baseUrl": "./src",
            "paths": {
                "zrender": "bower_components/zrender/src"
            }
        }
    }
}
endsnippet